body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  /* padding-top: 40px; */
}

/* ################# ELEMENT FORMATTING ################### */

.fixedHeader {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: var(--light-background-color);
}

x-accordion header x-label {
  line-height: 1.1;
  font-size: 26px;
  font-weight: 500 !important;
}

x-box {
  margin: 20px;
}

footer {
  min-height: 60px;
}

dialog > main {
  padding: 20px 24px 20px !important;
}

/* ################# END ELEMENT FORMATTING ################### */


/* ################# BASIC SPACERS ################### */

.space-below {
  margin-bottom: 20px;
}

/* ################# END BASIC SPACERS ################### */

.align-start {
  align-items: start;
}

.noLeftMar {
  margin-left: 0;
}

.noTopMar {
  margin-top: 0;
}

#url-list {
  list-style-type: none;
  padding-left: 0;
}

#image-list {
  padding: 40px;
}

#image-list > div {
  float: left;
}

img {
  max-width: 100%;
}

.imageSection {
  width: 50%;
}

#settings-form > * {
  margin-bottom: 10px;
}

#sites-container {
  max-width: 100%;
  display: flex;
  gap: 20px;
}

#sites-container > section {
  box-shadow: 0px 0px 16px 0px #cccccc;
}

#sites-container > section > h3 {
  margin-left: 14px;
}

.image-container {
  position: relative;
  display: inline-block;
  /* margin: 10px;  */
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.comparison-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* mix-blend-mode: difference;  */
}

/* ##################### CSS for tabs ##################### */

.active {
  border-color: var(--accent-color);
}

.tab-content {
  display: none;
  padding: 20px;
}

#sites-container.two-columns .tab-content {
  width: 50%;
  float: left;
  display: block;
  height: auto;
  overflow: hidden;
}

#sites-container.two-columns::after {
  content: '';
  clear: both;
  display: table;
}
/* ##################### END CSS for tabs ##################### */
